:root {
  --color-dark-blue: #2C3E50;
  --color-light-blue-grey: #AAB7B8;
  --color-black: #000000;
  --color-white: #FFFFFF;
  --color-deep-blue: #083358;
  --color-bright-blue: #1794E6;
  --color-bright-blue-darker: #117dc2;
  --color-background-light-grey: #f4f5f7;
  --color-dark-grey: #333333;
}